<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="true" > UMS </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="true" >Home</a>
          </li>

          <li class="nav-item">
            <a *ngIf="isRoleMatch(['Admin'])"  class="nav-link active" aria-current="page" routerLink="/admin" routerLinkActive="true" >Admin Dashboard</a>
          </li>

          <li class="nav-item">
            <a  *ngIf="isRoleMatch(['User'])"  class="nav-link active" aria-current="page" routerLink="/user" routerLinkActive="true" >User Dashboard</a>
          </li>

         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about" routerLinkActive="true" >About Us</a>
          </li>
 
         
        </ul>
  
       <button  *ngIf="! isLoggedIn()"  type="button" routerLink="/login" routerLinkActive="true"  class="btn btn-success"  > LOGIN  </button>
       <button *ngIf=" isLoggedIn()"  (click)="logout()"  type="button" class="btn btn-danger"  > LOGOUT  </button>



      </div>
    </div>
  </nav>

