<div class="container  mt-5 ">

    <div class="card  text text-center" style="padding: 20px;color:green;" >
   
      <header id="welcome-section">
         <h1>Hello !</h1>
         <strong>
         <p>My name is Pradip Choudhari</p>
         <p>and I am a Full Stack Developer</p>
         <p>I am having total 4 years of experience in the technolgies Java , Spring Boot , Hibernate and Angular </p>
         <p> contact : +91 9284380637</p>
         <p> Mail : pradipchoudhari937@gmail.com</p>
          </strong>
       </header>
       
    </div>
   
   
   </div>

